/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
  --color-primary: #2d5c88;
  --color-secondary: #1493fb;

	--color-gray-10: #f6f6f6;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;
	--alert-bg-color: #E6F0FC;

	--text-color: var(--color-gray-90);
	--text-color-link: var(--text-color);
	--text-color-link-active: var(--color-secondary);
	--text-color-link-visited: var(--text-color);
	--text-size-detail: 0.8125em;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-10: #222222;
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #eae8e8;

		--background-color: #121212;
		--alert-bg-color: #202831;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
  font-size: 106.066%; /* 16px -> 18px */
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img {
  max-width: 100%;
  height: auto;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

a[href]:visited {
	color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

h1 {
  margin-bottom: 0em;
}

main {
	padding: 1em;
}

main :first-child {
	margin-top: 0;
}

.links-nextprev {
  margin-top: 1.5em;
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}
