---
layout: layouts/home.njk
eleventyNavigation:
  key: Photos
  order: 3
  icon: feather:camera
title: Photos
---
<h1>{% icon "feather:camera", { "class": "icon-lg" } %} {{title}}</h1>
<p>{{ metadata.blurbs.photos }}</p>

{% set photoslist = collections.photos %}
{% include "photosgrid.njk" %}
