---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 1
  icon: feather:box
title: Projects
---
<h1>{% icon "feather:box", { "class": "icon-lg" } %} {{title}}</h1>
<p>{{ metadata.blurbs.projects }}</p>

{% set projectslist = collections.projects %}
{% include "projectsgrid.njk" %}
