---
layout: layouts/home.njk
eleventyNavigation:
  key: Writing
  order: 2
  icon: feather:edit-2
title: Writing
---
<h1>{% icon "feather:edit-2", { "class": "icon-lg" } %}{{title}}</h1>
<p>{{ metadata.blurbs.writing }}</p>

{% set postslist = collections.posts %}
{% include "postsgrid.njk" %}
