---
layout: layouts/home.njk
eleventyNavigation:
  key: Writing
  order: 2
  icon: feather:edit-2
title: Writing
description: "Making sense of the world through writing. Or, trying to. Mostly essays and other long-form pieces, including professional work."
---
<h1>{% icon "feather:edit-2", { "class": "icon-lg" } %}{{title}}</h1>
<p>{{description}}</p>

{% set postslist = collections.posts %}
{% include "postsgrid.njk" %}
