<div class="card-grid">
{% for photo in photoslist | reverse %}

  <a href="{{ photo.url }}" class="card">
    {%- image photo.data.summaryImage, "", [340], "", photo %}
    <div class="card-container">
      <span class="card-title">{{ photo.data.title }}</span>

      <ul class="post-metadata">
        <li>📅 <time datetime="{{ photo.date | htmlDateString }}">{{ photo.date | readableDate("LLL yyyy") }}</time></li>
      </ul>

      <p class="card-description">{{ photo.data.description }}</p>
    </div>
  </a>

{% endfor %}
</div>
