<div class="card-grid">
{% for photo in photoslist | reverse %}

  <div class="card">
    <a href="{{ photo.url }}">{%- image photo.data.summaryImage, "", [340], "", photo %}</a>
    <div class="card-container">
      <a href="{{ photo.url }}"class="card-title">{{ photo.data.title }}</a>

      <ul class="post-metadata">
        <li>📅 <time datetime="{{ photo.date | htmlDateString }}">{{ photo.date | readableDate("LLL yyyy") }}</time></li>
      </ul>

      <p class="card-description">{{ photo.data.description }}</p>
    </div>
  </div>

{% endfor %}
</div>
