<div class="card-grid">
{% for post in postslist | reverse %}

  <a href="{{ post.url }}" class="card">
    {%- image post.data.summaryImage, "", [340], "", post %}
    <div class="card-container">
      <span class="card-title">{{ post.data.title }}</span>

      <ul class="post-metadata">
        <li>📅 <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLL yyyy") }}</time></li>
        <li>⌚ {{ post.content | readingTime }} read</li>
      </ul>

      <p class="card-description">{{ post.data.description }}</p>
    </div>
  </a>

{% endfor %}
</div>
