<div class="card-grid">
{% for project in projectslist | reverse %}

  <a href="{{ project.url }}" class="card">
    {%- image project.data.summaryImage, "", [340], "", project %}
    <div class="card-container">
      <span class="card-title">{{ project.data.title }}</span>

      <ul class="post-metadata">
        <li>📅 <time datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate("LLL yyyy") }}</time></li>
        {% if (project.data.tags | filterTagList).length %}
        <li>🏷️ {%- for tag in project.data.tags | filterTagList %}
          {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <span class="post-tag">{{ tag }}</span>{%- if not loop.last %}, {% endif %}
          {%- endfor %}
        </li>
        {% endif %}
      </ul>

      <p class="card-description">{{ project.data.description }}</p>
    </div>
  </a>

{% endfor %}
</div>
