---
layout: layouts/base.njk
summaryImage: rss.jpg
title: Feeds
description: "Subscribe to get updates whenever I post new writing, projects, or photos."
---

<h1>{% icon "feather:rss", { "class": "icon-lg" } %} {{title}}</h1>
<p>{{description}}</p>

<ul>
  <li>All-In-One Feed (<a href="feed.xml">Atom</a> / <a href="feed.json">JSON</a>)</li>
  <li>{% icon "feather:edit-2" %} Writing Feed (<a href="writing.xml">Atom</a> / <a href="writing.json">JSON</a>)</li>
  <li>{% icon "feather:box" %} Projects Feed (<a href="projects.xml">Atom</a> / <a href="projects.json">JSON</a>)</li>
  <li>{% icon "feather:camera" %} Photos Feed (<a href="photos.xml">Atom</a> / <a href="photos.json">JSON</a>)</li>
</ul>

{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	</li>
{% endfor %}
</ol>

