---
layout: layouts/base.njk
---

{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>
<p class="post-description">{{ description }}</p>

<ul class="post-metadata">
	<li>📅 <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate('LLLL yyyy') }}</time></li>

  {% if (tags | filterTagList).length %}
	<li>🏷️ {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
    {%- endfor %}
  </li>
  {% endif %}
</ul>

{% if summaryImage %}
{%- image summaryImage, "", [720] %}
{% endif %}

{{ content | safe }}

{%- if collections.projects %}
{%- set previousPost = collections.projects | getPreviousCollectionItem %}
{%- set nextPost = collections.projects | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if nextPost %}<li>Next Project: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost and nextPost %}</br>{% endif %}
	{%- if previousPost %}<li>Previous Project: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
